<section class="bg-primary">
  <div class="container">
    <div class="row pt-4 pb-5">
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for image in site.data.gallery.images %}
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index | minus: 1 }}" aria-label="Slide {{ forloop.index }}" {% if forloop.first %}class="active" aria-current="true"{% endif %}></button>
            {% endfor %}
          </div>
          <div class="carousel-inner rounded">
            {% for image in site.data.gallery.images %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.src }}" class="d-block w-100" alt="{{ image.alt }}">
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
