<nav class="navbar fixed-top navbar-expand-lg bg-white border-red">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="" height="60" class="d-inline-block align-center">
      </a>
      <div class="d-flex flex-column align-items-center brand">
        <p class="brand-name">Thibaud Colombel</p>
        <p class="brand-tagline">OSTÉOPATHE À ORLIÉNAS</p>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary rounded">Prendre rendez-vous</button>
  </div>
</nav>
