<nav class="navbar fixed-top navbar-expand-lg bg-white">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="logo" href="/">
        <img
          src="/assets/images/logo.png"
          alt="logo de Thibaud Colombel, ostéopathe DO"
          height="56"
        >
      </a>
      <div class="d-flex flex-column align-items-center brand">
        <p class="brand-name">Thibaud Colombel</p>
        <p class="brand-tagline">OSTÉOPATHE À ORLIÉNAS</p>
      </div>
    </div>
    <a
      href="https://www.doctolib.fr/osteopathe/69005/thibaud-colombel"
      class="btn btn-outline-primary rounded"
    >
     Prendre rendez-vous
    </a>
  </div>
</nav>
