<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="d-flex align-items-center brand-link" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="logo de Thibaud Colombel, ostéopathe DO" height="40">
      <div class="brand-text ms-2 text-center">
        <div class="brand-name">Thibaud Colombel</div>
        <div class="brand-tagline">OSTÉOPATHE À ORLIÉNAS</div>
      </div>
    </a>
    <div class="d-flex">
      <a id="navbar-cta" href="https://www.doctolib.fr/osteopathe/69005/thibaud-colombel" class="btn btn-outline-primary me-2 d-none">Prendre rendez-vous</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse text-end" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% if page.url == '/' %}
            <a class="nav-link active" aria-current="page" href="{{ '/' | relative_url }}">Accueil</a>
          {% else %}
            <a class="nav-link" href="{{ '/' | relative_url }}">Accueil</a>
          {% endif %}
        </li>
        {% for node in site.pages %}
          <li class="nav-item">
            <a class="nav-link {% if page.url == node.url %}active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{node.title}}</a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/blog.html' %}active{% endif %}" href="{{ '/blog' | relative_url }}">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
