<section class="row bg-primary pt-5 pb-3">
  <div class="col-12">
    <div class="d-flex flex-column bg-white rounded mb-3 d-flex flex-column align-items-center justify-content-center">
      <p class="fw-bold mt-2">Thibaud Colombel</p>
      <p class="fw-bold">Ostéopathe D.O.</p>
      <p class="mb-2">5 / 5 ⭐⭐⭐⭐⭐ 106 avis</p>
      <a class="" href="https://search.google.com/local/reviews?placeid=ChIJx6f0RbXr9EcRP7dnDTP3JT8">Consulter les avis</a>
      <a class="fw-bold" href="https://search.google.com/local/writereview?placeid=ChIJx6f0RbXr9EcRP7dnDTP3JT8">Rédiger un avis</a>
    </div>
  </div>

  {% for review in site.data.reviews %}
    {% include review.html %}
  {% endfor %}
</section>
