body a {
  text-decoration: none;
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.full-height {
  min-height: calc(100vh - 56px - 100px) // full height minus footer height
}

.mt-nav {
  margin-top: 56px; // shift content from navbar height
}
