.banner {
  background-size: cover;
  background-position: center;
  height: 460px;
  margin-top: 48px;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/osteopathe-orlienas/assets/images/banner.jpg');

  @media (max-width: 596px) {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('{{ site.baseurl }}/assets/images/banner_mobile.jpg');
  }
}

.banner-text {
  text-align: center;
  color: white;
}

.banner-text h1 {
  margin: 1em;
  font-weight: 600;
}

.banner-text p {
  font-size: 24px;
  margin: 1em;
}

.banner-text .btn {
  color: white;
}

.banner-text .btn:hover {
  background-color: white;
  color: $blue;
}
