.banner {
  height: 460px;
  margin-top: 48px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/assets/images/banner.jpg');

  @media (max-width: 596px) {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/assets/images/banner_mobile.jpg');
  }

  .banner-hours {
    margin-bottom: 0.6em;
  }

  .banner-hours p {
    font-size: 24px;
    margin: 0;
  }

  .banner-text .btn {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    font-weight: bolder;
  }
}
