.my-card {
  border: 1px solid $navbar-light-toggler-border-color;
  height: 200px;

  &.position-even {
    flex-direction: row-reverse;
  }

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
  }
}
