.navbar {
  height: 75px;
}

.logo {
  height: 100%;
  padding-right: 12px;
}

.brand p {
  margin: 0;
}

.brand-name {
  font-family: $brand-font;
  font-size: 2rem;
  color: $blue;
  line-height: 38px;
}

.brand-tagline {
  font-family: $headers-font;
  font-weight: 600;
  line-height: 18px;
}

.btn {
  border-width: 0.2em;
  font-weight: 600;
}

.btn-outline-primary:hover {
  background-color: $blue;
  color: white;
}

