.w-35px {
  width: 35px;
}

.h-35px {
  height: 35px;
}

.h-250px {
  height: 250px;
}

.ff-open-sans {
  font-family: $body-font;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multiline-overflow-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-outline-primary:hover {
  color: $white;
}
