<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO(dmilon): replace by seo -->
    <meta name="robots" content="noindex">
    {% include favicons.html %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <!-- MapBox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include navbar.html %}
    <div class="full-height mt-nav">
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="{{ '/assets/js/init_netlify_identity.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/init_update_navbar_on_scroll.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/init_mapbox.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
