---
layout: default
---

<h1 class="bg-primary text-white p-3 text-center navbar-trigger">{{ page.title }}</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
      <img class="w-100 rounded mt-2 mb-3" src="{{ site.baseurl }}/assets/images/{{ page.page_img_src }}.jpg" alt="{{ page.page_img_alt }}">

      {{ content }}

      {% assign next_page_position = page.position | plus: 1 %}
      {% assign previous_page_position = page.position | minus: 1 %}
      {% assign next_page = site.pages | find: "position", next_page_position %}
      {% assign previous_page = site.pages | find: "position", previous_page_position %}
      <div class="d-flex justify-content-between pb-3">
        {% if previous_page == null %}
          <a href="/"><i class="fas fa-arrow-left"></i> Retour à l'accueil</a>
          <a class="fw-bold" href="{{ site.baseurl }}{{ next_page.url }}">{{next_page.title}} <i class="fas fa-arrow-right"></i></a>
        {% elsif next_page == null %}
          <a class="" href="{{ site.baseurl }}{{ previous_page.url }}"><i class="fas fa-arrow-left"></i> {{previous_page.title}}</a>
          <a class="fw-bold {% if page.url == '/blog.html' %}active{% endif %}" href="{{ '/blog' | relative_url }}">Blog <i class="fas fa-arrow-right"></i></a>
        {% else %}
          <a class="" href="{{ site.baseurl }}{{ previous_page.url }}"><i class="fas fa-arrow-left"></i> {{previous_page.title}}</a>
          <a class="fw-bold" href="{{ site.baseurl }}{{ next_page.url }}">{{next_page.title}} <i class="fas fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
